@media (min-width: 1440px) {}



@media (max-width: 1150px) {
  .square-sticker-1 {
    font-size: 15px;
    top: -24px;
    left: -10px;
  }

  .square-sticker-2 {
    font-size: 15px;
    top: -38px;
  }

  .square-sticker-3 {
    font-size: 15px;
    top: -28px;
  }

}

@media (max-width: 1050px) {
  .square-sticker-1 {
    top: -27px;
  }
}

@media (max-width: 1024px) {
  .h2-common {
    font-size: 49px;
  }

  /* ---------------------common--------------------- */

  .header-btn {
    display: none;
  }

  .sect-1-h1 {
    font-size: 52px;
  }

  /* ------------------------section-2----------------------- */

  .sect-2-wrapper {
    max-width: 750px;
  }

  .sect-2-text {
    font-size: 28px;
  }


}

@media (max-width: 980px) {
  :root {
    --sect-1-square-cell-width: 24%
  }

  .sect-1-inner-left,
  .sect-1-inner-right {
    display: none;
  }

  .sect-1-inner-left-tablet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
  }

  .sect-1-inner-left-tablet .square-type-3,
  .sect-1-inner-left-tablet .square-type-5 {
    margin-right: 5px;
  }

  .square-ov-h {
    overflow: visible;
  }

  .sect-1-inner-left-tablet .square-type-2:nth-of-type(2) {
    position: relative;
  }

  .sect-1-inner-left-tablet .square-type-2:nth-of-type(2)::before {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/sect-1-star.svg) no-repeat center;
    background-size: 46px 46px;
    width: 46px;
    height: 46px;
    transform: translate(62%, 62%);
    bottom: 0;
    right: 0;
  }

  .square-sticker-1-tablet {
    position: absolute;
    background: #BFEDAA;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
    padding: 8px 20px;
    top: -46px;
    left: 40%;
  }

  .square-sticker-2-tablet {
    position: absolute;
    background: #FFA7E6;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 30px */

    text-align: center;
    left: 20%;
    top: -46px;

    color: #000000;
    padding: 8px 20px;
  }

  .square-sticker-3-tablet {
    position: absolute;
    padding: 8px 20px;
    color: #000000;
    background: #A5E4FF;
    border-radius: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 30px */
    left: 30%;
    top: -46px;
    text-align: center;
  }


}

@media (max-width: 768px) {

  .h2-common {
    font-size: 39px;
  }

  /* ---------------------common--------------------- */

  .header-menu-links-lang{
    display: none;
  }

  .humburger{
    display: inline-block;
  }

  /* ------------section-1------- */

  .sect-1-h1 {
    font-size: 39px;
  }

  .sect-1-client {
    font-size: 25px;
  }

  .sect-1-inner-right .square-type-2:first-child:before {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
  }

  .square-sticker-1-tablet {
    font-size: 15px;
    padding: 6px 12px;
    top: -37.5px;
    left: 30%;
  }

  .square-sticker-2-tablet {
    font-size: 15px;
    padding: 6px 12px;
    top: -37.5px;
    left: 0%;
  }

  .square-sticker-3-tablet {
    font-size: 15px;
    padding: 6px 12px;
    top: -37.5px;
    left: 15%;
  }

  /* -------section-2-----------------------*/



  .sect-2-wrapper {
    max-width: 600px;
  }

  .sect-2-text {
    font-size: 23px;
  }

}

@media (max-width: 600px) {

  .h2-common {
    font-size: 33px;
  }

  /* ---------------------common--------------------- */

  .sect-1-h1 {
    font-size: 33px;
  }

  .sect-1-client {
    font-size: 20px;
  }

  /* ---------------section-2----------- */
  .sect-2-wrapper {
    max-width: 490px;
  }

  .sect-2-text {
    font-size: 19px;
  }

  .sect-2-faces {
    width: 58px;
  }

}

@media (max-width: 500px) {
  :root {
    --sect-1-square-cell-width: 32%;
  }

  .h2-common {
    font-size: 28px;
  }

  /* ----------------common---------------------- */

  .section-1 {
    padding: 24px 0 120px;
  }

  .sect-1-h1 {
    font-size: 26px;
  }

  .sect-1-wrapper {
    margin-top: 71px;
  }

  .sect-1-inner-left-tablet {
    display: none;
  }

  .sect-1-inner-right {
    display: flex;
  }

  .square-sticker-1 {
    font-size: 12px;
    padding: 6px 12px;
    top: -20px;
    left: 0px;
  }

  .square-sticker-2 {
    font-size: 12px;
    padding: 6px 12px;
    top: -30px
  }

  .square-sticker-3 {
    font-size: 12px;
    padding: 6px 12px;
    top: -23px;
  }

  /* -------------section-2--------------- */

  .sect-2-wrapper {
    max-width: 430px;
  }

  .sect-2-text {
    font-size: 18px;
  }

  .sect-2-faces {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 450px) {
  .square-sticker-1 {
    top: -22px
  }

  /* --------------------section-2----------------- */
  .sect-2-wrapper {
    max-width: 390px;
  }

  .sect-2-text {
    font-size: 14px;
  }


}

@media (max-width: 400px) {

  .square-1-cell,
  .square-2-cells {
    border: 1px solid #636363;
  }

  .sect-1-inner-right .square-type-2:first-of-type::before {
    background: url(../img/sect-1-star-mobile.svg) no-repeat center;
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
  }

  .sect-1-h1 {
    font-size: 24px;
  }

  .square-sticker-1 {
    top: -25px;
  }

  .square-sticker-3 {
    top: -23px;
  }

  /* -----------section-2------------- */
  .sect-2-wrapper {
    max-width: 340px;
  }
}

@media (max-width: 390px) {
  .square-sticker-1 {
    top: -26.4px;
  }
}

@media (max-width: 370px) {
  .square-sticker-1 {
    top: -27.3px;
  }

  .square-sticker-3 {
    top: -22px;
  }
}

@media (max-width: 355px) {
  .square-sticker-1 {
    top: -28.3px;
  }
}

@media (max-width: 340px) {
  .square-sticker-1 {
    top: -29.3px;
  }
}


@media (max-width: 360px) {}