@media (min-width: 1440px) {}

@media (max-width: 1250px) {
  .sect-4-text {
    font-size: 160px;
  }

  /* ------------section-9------- */

  .sect-9-block-sticker:nth-of-type(2) {
    transform: rotate(0deg);
    top: -46px;
    right: 50px;
    left: auto;
  }

  .sect-9-block-sticker:nth-of-type(4) {
    display: none;
  }

}

@media (max-width: 1150px) {
  .square-sticker-1 {
    font-size: 15px;
    top: -24px;
    left: -10px;
  }

  .square-sticker-2 {
    font-size: 15px;
    top: -38px;
  }

  .square-sticker-3 {
    font-size: 15px;
    top: -28px;
  }

  /* -----------section-3---------------- */

  .sect-3-block {
    width: calc(33.3% - 20px);
    padding: 30px 25px;
  }

  .sect-3-title {
    font-size: 21px;
    margin: 24px 0 16px;
  }

}

@media (max-width: 1050px) {
  :root {
    --sect-7-cell-width: 260px;
    --sect-7-cell-height: 290px;
    --sect-7-cell-margin: 20px;
  }

  .block-sticker-common {
    padding: 8px 12px;
    font-size: 19px;
  }


  /* ------------common--------------- */

  .square-sticker-1 {
    top: -27px;
  }

  /* ----------------section-3--------- */

  .sect-3-block-sticker:nth-of-type(3) {
    top: -90px;
    left: 23.5%;
    transform: rotate(0deg);
  }

  .sect-3-block-sticker:nth-of-type(4) {
    display: none;
  }

  .sect-3-block-sticker:nth-of-type(5) {
    top: -45px;
    left: 36%;
  }

  .sect-3-block-sticker:nth-of-type(6) {
    top: -90px;
  }

  .sect-3-block-sticker:nth-of-type(9) {
    top: -90px;
    left: 72%;
    transform: rotate(14deg);
  }

  /* -------------------section-4------------------ */

  .sect-4-text {
    font-size: 140px;
  }

  /* -------------------section-9------------------ */

  .sect-9-block-sticker:first-of-type {
    transform: rotate(-43.11deg);
    left: 4px;
    top: -43px;
  }

  .sect-9-block-sticker:nth-of-type(2) {
    right: 100px;
  }

  .sect-9-block-sticker:nth-of-type(3) {
    left: 55px;
  }

  .sect-9-block-sticker:last-of-type {
    transform: rotate(33.5deg);
    right: auto;
    left: 15px;
    top: -79px;
  }

}

@media (max-width: 1024px) {
  .h2-common {
    font-size: 49px;
  }

  /* ---------------------common--------------------- */

  .header-btn {
    display: none;
  }

  .sect-1-h1 {
    font-size: 52px;
  }

  /* ------------------------section-2----------------------- */

  .section-2 {
    padding-bottom: 90px;
  }

  .sect-2-wrapper {
    max-width: 750px;
  }

  .sect-2-text {
    font-size: 28px;
  }

  /* ------------section-4------------ */

  .section-4 {
    padding: 60px 0 90px;
  }


  /* ------------sect-6------------- */

  .section-6 {
    padding: 90px 0 90px;
  }

  .sect-6-wrapper {
    height: 600px;
  }

  .sect-6-block {
    max-width: 48%;
    width: 48%
  }

  .sect-6-wrapper::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 20px;
    right: 20px;
    height: 2px;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #737373 0%, #737373 100%);
    border-radius: 2px;
    z-index: -1;
  }

  .sect-6-wrapper::after {
    content: "";
    position: absolute;
    top: 75%;
    left: 20px;
    right: 20px;
    height: 2px;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #737373 0%, #737373 100%);
    border-radius: 2px;
    z-index: -1;
  }

  .sect-6-block-top {
    height: 140px;
  }

  .sect-6-block-bottom {
    height: 140px;
    width: 100%;
  }

  .sect-6-block:first-of-type,
  .sect-6-block:nth-of-type(2),
  .sect-6-block:nth-of-type(3) {
    margin-right: 0;
  }

}

@media (max-width: 980px) {
  :root {
    --sect-1-square-cell-width: 24%;
    --sect-7-cell-width: 240px;
    --sect-7-cell-height: 270px;

  }

  .sect-1-inner-left,
  .sect-1-inner-right {
    display: none;
  }

  .sect-1-inner-left-tablet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
  }

  .sect-1-inner-left-tablet .square-type-3,
  .sect-1-inner-left-tablet .square-type-5 {
    margin-right: 5px;
  }

  .square-ov-h {
    overflow: visible;
  }

  .sect-1-inner-left-tablet .square-type-2:nth-of-type(2) {
    position: relative;
  }

  .sect-1-inner-left-tablet .square-type-2:nth-of-type(2)::before {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/sect-1-star.svg) no-repeat center;
    background-size: 46px 46px;
    width: 46px;
    height: 46px;
    transform: translate(62%, 62%);
    bottom: 0;
    right: 0;
  }

  .square-sticker-1-tablet {
    position: absolute;
    background: #BFEDAA;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
    padding: 8px 20px;
    top: -46px;
    left: 40%;
  }

  .square-sticker-2-tablet {
    position: absolute;
    background: #FFA7E6;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 30px */

    text-align: center;
    left: 20%;
    top: -46px;

    color: #000000;
    padding: 8px 20px;
  }

  .square-sticker-3-tablet {
    position: absolute;
    padding: 8px 20px;
    color: #000000;
    background: #A5E4FF;
    border-radius: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 30px */
    left: 30%;
    top: -46px;
    text-align: center;
  }

  /* --------------------section-3-------------- */

  .sect-3-block {
    width: calc(50% - 10px);
  }

  .sect-3-block-sticker:nth-of-type(8) {
    top: -123px;
    left: 61%;
    transform: rotate(90deg);
  }

  .sect-3-block-sticker:nth-of-type(9) {
    top: -90px;
    left: 75%;
    transform: rotate(0deg);
  }

  /* -------------------section-4------------------ */

  .sect-4-text {
    font-size: 110px;
  }

  .sect-4-text::before {
    -webkit-text-stroke: 3px #737373;
  }

  /* -------------------section-9------------------ */

  .sect-9-block-text {
    font-size: 16px;
  }

  .sect-9-block-answer-text,
  .sect-9-block-answer ul {
    font-size: 12px;
  }

  /* -------------------section-10------------------ */

  .section-10-container {
    padding: 0;
  }

  .sect-10-wrapper {
    padding: 64px 20px;
  }

  .sect-10-logo {
    width: 50px;
  }

  .sect-10-wrapper-h2 {
    margin: 12px 0 36px;
  }

  .sect-10-label,
  .sect-10-label:last-of-type {
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .sect-10-input {
    padding: 16px 12px;
    margin-top: 10px;
  }

  #sect-10-phone-label input{
    padding: 15px 12px;
  }

  /* -------------------section-11------------------ */

  .sect-11-map-adress {
    flex-direction: column;
    align-items: center;

  }
}

@media (max-width: 768px) {

  :root {
    --sect-7-cell-width: 170px;
    --sect-7-cell-height: 190px;
  }

  .h2-common {
    font-size: 39px;
  }

  .block-sticker-common {
    font-size: 16px;
  }

  /* ---------------------common--------------------- */

  .header-menu-links-lang {
    display: none;
  }

  .humburger {
    display: inline-block;
  }

  /* ------------section-1------- */

  .sect-1-h1 {
    font-size: 39px;
  }

  .sect-1-client {
    font-size: 25px;
  }

  .sect-1-inner-right .square-type-2:first-child:before {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
  }

  .square-sticker-1-tablet {
    font-size: 15px;
    padding: 6px 12px;
    top: -37.5px;
    left: 30%;
  }

  .square-sticker-2-tablet {
    font-size: 15px;
    padding: 6px 12px;
    top: -37.5px;
    left: 0%;
  }

  .square-sticker-3-tablet {
    font-size: 15px;
    padding: 6px 12px;
    top: -37.5px;
    left: 15%;
  }

  /* -------section-2-----------------------*/



  .sect-2-wrapper {
    max-width: 600px;
  }

  .sect-2-text {
    font-size: 23px;
  }

  /* -----------------section-3------------------ */

  .sect-3-block-sticker:first-of-type,
  .sect-3-block-sticker:nth-of-type(6),
  .sect-3-block-sticker:nth-of-type(7),
  .sect-3-block-sticker:nth-of-type(8),
  .sect-3-block-sticker:nth-of-type(9) {
    display: none;
  }

  .sect-3-block-sticker:nth-of-type(2) {
    top: -40px;
    left: 42px;
  }

  .sect-3-block-sticker:nth-of-type(3) {
    top: -79px;
    left: 16px;
    transform: rotate(348deg);
  }

  .sect-3-block-sticker:nth-of-type(4) {
    display: block;
    top: -75px;
    left: 100px;
    transform: rotate(15deg);
  }

  .sect-3-block-sticker:nth-of-type(5) {
    top: -40px;
    left: 157px;
  }

  .sect-3-block-sticker:nth-of-type(10) {
    top: -80px;
    left: 190px;
    background: #FFA7E6 !important;
  }

  .sect-3-block-sticker:nth-of-type(11) {
    top: -35px;
    left: auto;
    right: 0px;
    background: #D4B1FF!important;
    transform: rotate(24deg);
  }

  /* -------------------section-4------------------ */

  .sect-4-text {
    font-size: 85px;
  }

  /* -------------------section-7------------------ */
  .sect-7-inner:first-of-type,
  .sect-7-inner:last-of-type {
    animation: sect-7-move2 9000ms linear infinite;
  }

  @keyframes sect-7-move2 {
    0% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(-15%);
    }

    75% {
      transform: translateX(15%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  /* -------------------section-8------------------ */

  .sect-8-h2 {
    max-width: 450px;
  }

  /* -------------------section-9------------------ */

  .sect-9-block-sticker:first-of-type {
    top: -37px;
  }

  .sect-9-block-sticker:nth-of-type(2) {
    top: -40px;
    right: 5px;
  }

  .sect-9-block-sticker:nth-of-type(3) {
    top: -40px;
    left: 45px;
  }

  .sect-9-block-sticker:last-of-type {
    top: -73px;
  }


  /* -------------------section-11------------------ */

  .sect-11-wrapper {
    padding: 0;
  }

  .sect-11-h2 {
    text-align: center;
    margin-bottom: 29px;
  }

  .sect-11-map-block {
    width: 100%;
    padding: 275px 24px 75px;
  }

  .sect-11-map-info {
    flex-direction: column;
    padding: 40px 50px;
  }

  .sect-11-map-adress {
    width: 100%;
  }

  .sect-11-tel,
  .sect-11-email,
  .sect-11-city {
    font-size: 16px;
  }

  .sect-11-email {
    margin: 40px 0 40px;
  }

}


@media (max-width: 650px) {
  .section-2 {
    padding-bottom: 64px;
  }

  .sect-3-h2 {
    margin-bottom: 128px;
  }

  .sect-3-block {
    width: 100%;
    margin-bottom: 20px;
  }

  /* ------------section-4------------ */

  .section-4 {
    padding: 44px 0 64px;
  }

  /* ----------------section-6---------------- */

  .section-6 {
    padding: 64px 0 64px;
  }

  .sect-6-h2 {
    margin-bottom: 167px;
  }

  .sect-6-sticker-center {
    top: 46px;
  }

  .sect-6-wrapper {
    height: auto;
  }

  .sect-6-wrapper::before,
  .sect-6-wrapper::after {
    display: none;
  }

  .sect-6-block {
    max-width: 100%;
    width: 100%;
    position: relative;
  }

  .sect-6-block:not(:last-of-type) {
    margin-bottom: 100px;
  }

  .sect-6-block-top {
    height: 70px;
  }

  .sect-6-sticker {
    font-size: 20px;
  }

  .sect-6-block-bottom {
    height: auto;
    width: 100%;
    padding: 0 22px;
  }

  .sect-6-dot {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -29px;
    border: 1px solid #737373;
  }

  .sect-6-dot::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 64px;
    background: #737373;
    top: -58px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  /* --------------section-7----- */

  .section-7 {
    padding-bottom: 64px;
  }

  /* --------------section-8----- */

  .section-8 {
    padding: 64px 0 64px;
  }

  .sect-8-h2 {
    margin-bottom: 38px;
  }

  .sect-8-inner-block {
    padding: 32px 24px 20px;
    height: auto;
  }

  .sect-8-inner-comment {
    font-size: 14px;
    margin: 20px 0 24px;
  }

  .sect-8-inner-name {
    font-size: 16px;
  }

  .sect-8-inner-position {
    font-size: 8px;
  }

  .slider-buttons {
    width: 152px;
    margin: 24px auto 56px;
  }


  /* delete
  .sect-8-client {
    transform: scale(0.76);
    margin-right: 0px;
  } */

  .sect-8-client {
    transform: scale(0.6);
    margin-right: -30px;
  }
  /* --------------section-9----- */

  .section-9 {
    padding: 64px 0 64px;
  }

  /* --------------section-11----- */

  .section-11 {
    padding: 64px 0 64px;
  }


  @keyframes sect-1-client-move {
    0% {
      transform: translateX(-50px);
    }
  
    100% {
      transform: translateX(-900px);
    }
  }

}

@media (max-width: 600px) {

  .h2-common {
    font-size: 33px;
  }

  /* ---------------------common--------------------- */

  .sect-1-h1 {
    font-size: 33px;
  }

  .sect-1-client {
    font-size: 20px;
  }

  /* ---------------section-2----------- */
  .sect-2-wrapper {
    max-width: 490px;
  }

  .sect-2-text {
    font-size: 19px;
  }

  .sect-2-faces {
    width: 58px;
  }

  /* --------------section-3------------ */

  .sect-3-h2 {
    max-width: 350px;
  }

  /* -------------------section-4------------------ */

  .sect-4-text {
    font-size: 70px;
  }

  /* -------------------section-9------------------ */

  .sect-9-block {
    padding: 16px 12px 16px 12px;
  }

  .sect-9-block-plus {
    transform: translateY(-50%) scale(0.68);
  }

  .sect-9-block-plus.rotate {
    transform: translateY(-50%) scale(0.68) rotate(45deg);
  }

}

@media (max-width: 500px) {
  :root {
    --sect-1-square-cell-width: 32%;
    --sect-7-cell-width: 111px;
    --sect-7-cell-height: 125px;
    --sect-7-cell-margin: 12px;
  }

  .h2-common {
    font-size: 28px;
  }

  /* ----------------common---------------------- */

  .section-1 {
    padding: 24px 0 120px;
  }

  .sect-1-h1 {
    font-size: 26px;
  }

  .sect-1-wrapper {
    margin-top: 71px;
  }

  .sect-1-inner-left-tablet {
    display: none;
  }

  .sect-1-inner-right {
    display: flex;
  }

  .square-sticker-1 {
    font-size: 12px;
    padding: 6px 12px;
    top: -20px;
    left: 0px;
  }

  .square-sticker-2 {
    font-size: 12px;
    padding: 6px 12px;
    top: -30px
  }

  .square-sticker-3 {
    font-size: 12px;
    padding: 6px 12px;
    top: -23px;
  }

  /* -------------section-2--------------- */

  .sect-2-wrapper {
    max-width: 430px;
  }

  .sect-2-text {
    font-size: 18px;
    margin-top: 14px;
  }

  .sect-2-faces {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* -------------------section-4------------------ */

  .sect-4-text {
    font-size: 52px;
  }


  /* ----------------footer------------------- */

  .footer {
    padding-bottom: 64px;
  }

  .footer-h2-mobile{
    display: block;
  }

  .footer-h2{
    display: none;
  }

  .footer-link-list {
    flex-direction: column;
    align-items: center;
    margin: 40px auto 40px;
  }

  .footer-link-item {
    margin-bottom: 10px;
  }

  .footer-authors-list-mobile {
    position: absolute;
    height: 200px;
    bottom: 5px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
  }

  .footer-authors-list {
    display: none;
  }

  .footer-authors-item {
    margin-bottom: 10px;
    position: relative;
  }

  .footer-authors-item:last-of-type:hover .footer-andrew {
    animation: footerAndrewUp 3000ms linear ;
  }

  .footer-andrew {
    position: absolute;
    top: 0;
    transform: translateY(40%);
  }


  @keyframes footerAndrewUp {
    0% {
      transform: translateY(40%);
    }
  
    50% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(40%);
    }

  }

}

@media (max-width: 450px) {
  .square-sticker-1 {
    top: -22px
  }

  /* --------------------section-2----------------- */
  .sect-2-wrapper {
    max-width: 390px;
  }

  .sect-2-text {
    font-size: 14px;
  }





}

@media (max-width: 400px) {

  .square-1-cell,
  .square-2-cells {
    border: 1px solid #636363;
  }

  .sect-1-inner-right .square-type-2:first-of-type::before {
    background: url(../img/sect-1-star-mobile.svg) no-repeat center;
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
  }

  .sect-1-h1 {
    font-size: 24px;
  }

  .square-sticker-1 {
    top: -25px;
  }

  .square-sticker-3 {
    top: -23px;
  }

  /* -----------section-2------------- */
  .sect-2-wrapper {
    max-width: 340px;
  }
}

@media (max-width: 390px) {
  .square-sticker-1 {
    top: -26.4px;
  }
}

@media (max-width: 370px) {
  .square-sticker-1 {
    top: -27.3px;
  }

  .square-sticker-3 {
    top: -22px;
  }
}

@media (max-width: 360px) {
  /* ------------section-4------------ */
  .sect-4-text {
    font-size: 45px;
  }

  /* -------------------section-9------------------ */

  .sect-9-block-text {
    font-size: 15px;
  }
}

@media (max-width: 355px) {
  .square-sticker-1 {
    top: -28.3px;
  }
}

@media (max-width: 340px) {
  .square-sticker-1 {
    top: -29.3px;
  }
}