@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Manrope:wght@500&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
 */

:root {
  --max-width-html: 1440px;
  --sect-1-square-cell-width: 32%;
  --sect-7-cell-width: 276px;
  --sect-7-cell-height: 310px;
  --sect-7-cell-margin: 30px;
}

body {
  background-color: #F6F6F6;
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 1234px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF5728;
  border-radius: 30px;
}

.btn:hover {
  background: #FF7048;
  transition: 300ms;
}

.h2-common {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 563;
  font-size: 60px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: -0.035em;
  font-feature-settings: 'rclt' off, 'liga' off, 'kern' off;
  color: #0C0C0D;
}

.block-sticker-common {
  display: block;
  padding: 8px 20px;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  position: absolute;
  z-index: -1;
}

/* -------------------------------------  */

.header-gradient {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #C4D7E4 0%, rgba(246, 246, 246, 0) 100%);
}

.header {
  padding: 30px 20px 0;
  max-width: var(--max-width-html);
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  position: relative;
  z-index: 3;
}

.header-menu-links-lang {
  display: flex;
  justify-content: center;
}

.header-list {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 18px 22px 17px;
  margin-right: 5px;
}

.header-item:not(:last-child) {
  margin-right: 20px;
}

.header-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #636363;
}

.header-lang-list {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 5px;
}

.header-lang-item {
  padding: 12px 15px 13px;
}

.header-lang-item:first-child {
  background: #F6F6F6;
  border-radius: 30px;
}

.header-lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #636363;
}

.header-btn {
  padding: 19.5px 30px;
}

/* ------------------------section-1-------------------- */

.section-1 {
  padding: 60px 0 150px;
  overflow: hidden;
  position: relative;
}


.sect-1-h1 {
  max-width: 1160px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: -0.02em;
  font-feature-settings: 'liga' off, 'rclt' off, 'kern' off;
  color: #0C0C0D;
}

.sect-1-wrapper {
  margin-top: 110px;
  margin-bottom: 32px;
  display: flex;
  gap: 5px
}

.sect-1-inner-left,
.sect-1-inner-right {
  width: 594.5px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.sect-1-inner-left-tablet {
  display: none;
}

.sect-1-inner-left {
  justify-content: flex-end;
}

.sect-1-inner-right {
  justify-content: flex-start;
}

.square-1-cell {
  position: relative;
  overflow: hidden;
  max-width: 194.8px;
  width: var(--sect-1-square-cell-width);
  /* height: 184px; */
  border: 3px solid #636363;
  aspect-ratio: 1.0543
}

.square-2-cells {
  position: relative;
  overflow: hidden;
  max-width: 394.6px;
  width: calc(var(--sect-1-square-cell-width) * 2 + 5px);
  /* height: 184px; */
  border: 3px solid #636363;
  aspect-ratio: 2.1424;
}

.square-mr {
  margin-right: 5px;
}

.square-mt {
  margin-top: 5px;
}

.square-type-1 {
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.square-type-2 {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.square-type-3 {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.square-type-4 {
  border-top-left-radius: 25% 50%;
  border-bottom-right-radius: 25% 50%;
}

.square-type-5 {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* тестовая анимация */

.sect-1-inner-left .square-type-4 img {
  animation: sect-1-cup-Scale 8000ms cubic-bezier(0, 0.27, 0.8, 1.14) infinite alternate;
}

.square-type-3 img {
  animation: sect-1-cup-Scale 5000ms cubic-bezier(0, 0.27, 0.8, 1.14) infinite alternate;
}

.sect-1-inner-right .square-type-2:first-of-type {
  position: relative;
  overflow: visible;
}

.sect-1-inner-right .square-type-2:first-of-type::before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/sect-1-star.svg) no-repeat center;
  background-size: 46px 46px;
  width: 46px;
  height: 46px;
  transform: translate(62%, 62%);
  bottom: 0;
  right: 0;
}

.sect-1-btn {
  padding: 18px 20px;
  margin: 0 auto 40px;
  display: block;
}


.sect-1-clients-line-visible {
  max-width: var(--max-width-html);
  margin: 0 auto;
  overflow: hidden;
}


.sect-1-clients-line {
  display: flex;
  width: max-content;
  transform: translateX(-50px);
  animation: sect-1-client-move 50000ms linear infinite alternate;
}

.sect-1-client {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.8;
  text-align: center;
  color: #E3E3E3;
  flex-shrink: 0;
}


.sect-1-client:not(:last-child) {
  margin-right: 70px;
}

.square-sticker-1 {
  position: absolute;
  background: #BFEDAA;
  border-radius: 30px;
  transform: rotate(-25.25deg);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  padding: 8px 20px;
  top: -31px;
  left: -15px;
  /* transform-origin: 50% 100%; */
}

.square-sticker-2 {
  position: absolute;
  background: #FFA7E6;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  text-align: center;
  left: calc(100% / 4.5);
  top: -46px;

  color: #000000;
  padding: 8px 20px;
}

.square-sticker-3 {
  position: absolute;
  padding: 8px 20px;
  color: #000000;
  background: #A5E4FF;
  border-radius: 30px;
  transform: rotate(22.3deg);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  left: calc(100% / 2.2);
  top: -32px;
  text-align: center;
}

.square-zi {
  z-index: 4;
}


/* -----------------------------------------section-2------------------------ */

.section-2 {
  padding-bottom: 180px;
}

.sect-2-wrapper {
  max-width: 945px;
  margin: 0 auto;
  position: relative;
}

.sect-2-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-top: 35px;
}

.sect-2-faces {
  display: inline-block;
}

span.sect-2-sticker {
  display: inline-block;
  background: #FDFF8A;
  border-radius: 30px;
  padding: 0 5px 0 13px;
}

/* -------------section-3--------------------------- */
.section-3 {
  overflow: hidden;
}

.sect-3-h2 {
  max-width: 510px;
  margin-bottom: 190px;
}

.sect-3-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.sect-3-block {
  width: calc(33.3% - 20px);
  padding: 30px;
  background: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 30px;
}

.sect-3-num {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
}

.sect-3-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;
  color: #101010;
  margin: 30px 0 20px;
}

.sect-3-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #737373;
}

.sect-3-block-sticker:first-of-type {
  top: -46px;
  left: 5%;
}

.sect-3-block-sticker:nth-of-type(2) {
  top: -46px;
  left: 21%;
}

.sect-3-block-sticker:nth-of-type(3) {
  top: -99px;
  left: 23.5%;
  transform: rotate(-16.97deg);
}

.sect-3-block-sticker:nth-of-type(4) {
  top: -65px;
  left: 30.5%;
  transform: rotate(44.52deg);
}

.sect-3-block-sticker:nth-of-type(5) {
  top: -46px;
  left: 41.5%;
}

.sect-3-block-sticker:nth-of-type(6) {
  top: -93px;
  left: 45.5%;
}

.sect-3-block-sticker:nth-of-type(7) {
  top: -46px;
  left: 55%;
}

.sect-3-block-sticker:nth-of-type(8) {
  top: -70px;
  left: 65%;
  transform: rotate(32deg);
}

.sect-3-block-sticker:nth-of-type(9) {
  top: -95px;
  left: 71%;
  transform: rotate(20deg);
}

.sect-3-block-sticker:nth-of-type(10) {
  top: -46px;
  left: 77%;
}

.sect-3-block-sticker:nth-of-type(11) {
  top: -46px;
  left: 89%;
}


/* ------------section-4------------ */

.section-4 {
  padding: 150px 0 180px;
  max-width: var(--max-width-html);
  margin: 0 auto;
}

.sect-4-text {
  display: block;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 190px;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  position: relative;
  color: transparent;
}

.sect-4-text::before,
.sect-4-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.sect-4-text::before {
  -webkit-text-stroke: 5px #737373;
  text-stroke: 5px #737373;
}

.sect-4-text::after {
  color: #F6F6F6;
}

/* ------------section-5------------ */

/* ------------section-6------------ */

.section-6 {
  position: relative;
  padding: 180px 0 180px;
}

.sect-6-wrapper-h2 {
  position: relative;
}

.sect-6-h2 {
  margin-bottom: 173px;
}

.sect-6-sticker-center {
  display: block;
  position: absolute;
  top: 102px;
  left: 50%;
  padding: 8px 20px;
  background: #FDFF8A;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  transform: translate(-50%, 0%);
}


.sect-6-wrapper {
  height: 350px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sect-6-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  height: 2px;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #737373 0%, #737373 100%);
  border-radius: 2px;
  z-index: -1;
}

.sect-6-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 276px;
  width: calc(25% - 22.5px);
  /* background-color: #00000010; */
}

.sect-6-block:first-of-type,
.sect-6-block:nth-of-type(2),
.sect-6-block:nth-of-type(3) {
  margin-right: 30px;
}

.sect-6-block-top {
  height: 48%;
  width: 100%;
  position: relative;
}

.sect-6-block-bottom {
  height: 48%;
  width: 100%;
}

.sect-6-sticker {
  position: absolute;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 0.72;
  text-align: center;
  color: #000000;
  padding: 20px 25px;
  border-radius: 30px;
  top: 50%;
  left: 50%;

}

.sect-6-block:first-of-type .sect-6-sticker {
  background: #A5E4FF;
  transform: translate(-50%, -50%) rotate(-6.74deg);
}

.sect-6-block:nth-of-type(2) .sect-6-sticker {
  background: #BFEDAA;
  transform: translate(-50%, -50%) rotate(5.23deg);
}

.sect-6-block:nth-of-type(3) .sect-6-sticker {
  background: #FFA7E6;
  transform: translate(-50%, -50%) rotate(-3.74deg);
}

.sect-6-block:last-of-type .sect-6-sticker {
  background: #FF8D8D;
  transform: translate(-50%, -50%) rotate(8.65deg);
}



.sect-6-dot {
  display: block;
  background: #0C0C0D;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.sect-6-text {
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #737373;
}

/* ----------section-7------------- */

.section-7 {
  padding-bottom: 180px;
}

.sect-7-wrapper-relative {
  position: relative;
  height: calc(var(--sect-7-cell-height) * 3 + var(--sect-7-cell-margin) * 2);
  max-width: var(--max-width-html);
  overflow: hidden;
  margin: 0 auto;
}


.sect-7-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-14%);
  filter: grayscale(100%);
  transition: 2000ms;
}

.sect-7-wrapper:hover {
  filter: grayscale(30%);
  transition: 300ms;
}

.sect-7-inner {
  display: flex;
}

.sect-7-inner:first-of-type,
.sect-7-inner:last-of-type {
  animation: sect-7-move2 3000ms linear infinite alternate;
}

.sect-7-inner:nth-of-type(2) {
  margin-top: var(--sect-7-cell-margin);
  margin-bottom: var(--sect-7-cell-margin);
}

.sect-7-block {
  margin-right: var(--sect-7-cell-margin);
}

.sect-7-block-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sect-7-block:not(.sect-7-2-cells) {
  width: var(--sect-7-cell-width);
  height: var(--sect-7-cell-height);
}

.sect-7-2-cells {
  width: calc(var(--sect-7-cell-width) * 2 + var(--sect-7-cell-margin));
  height: var(--sect-7-cell-height);
}


/* ----------section-8------------- */

.section-8 {
  padding: 180px 0 180px;
  position: relative;
  background: #E8ECEF;
}

.sect-8-h2 {
  max-width: 670px;
  margin-bottom: 76px;
}

.sect-8-wrapper-relative {
  max-width: var(--max-width-html);
  margin: 0 auto;
  overflow: hidden;
}

.sect-8-slider-wrapper {
  max-width: 722px;
  margin: 0 auto;
  position: relative;
}

.sect-8-slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: 700ms;
}

.sect-8-slide {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
}

.sect-8-inner-block {
  padding: 50px 55px 0;
  height: 524px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 30px;
}

.sect-8-inner-comment {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin: 30px 0 40px;
}

.sect-8-inner-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.sect-8-inner-position {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: #949494;
  margin: 10px 0 19px;
  width: 183px;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 40px auto 115px;
}

.slider-button {
  width: 56px;
  height: 56px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.sect-8-clients-line-visible {
  max-width: var(--max-width-html);
  margin: 0 auto;
  overflow: hidden;
}

.sect-8-clients-line {
  display: flex;
  align-items: center;
  width: max-content;
  transform: translateX(-50px);
  animation: sect-1-client-move 30000ms linear infinite alternate;
}

.sect-8-client {
  margin-right: 135px;
}

/* ----------section-9------------- */

.section-9 {
  padding: 180px 0 180px;
  overflow: hidden;
}

.sect-9-wrapper-h2 {
  margin-bottom: 120px;
}


.sect-9-wrapper {
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sect-9-block-sticker:first-of-type {
  transform: rotate(-68.82deg);
  left: -100px;
  top: 100px;
}

.sect-9-block-sticker:nth-of-type(2) {
  transform: rotate(-37.44deg);
  top: -46px;
  left: -68px;
}

.sect-9-block-sticker:nth-of-type(3) {
  top: -46px;
  left: 80px;
}

.sect-9-block-sticker:nth-of-type(4) {
  top: -46px;
  right: 50px;
}

.sect-9-block-sticker:last-of-type {
  right: -10px;
  top: -41px;
  transform: rotate(33.58deg);
}

.sect-9-block {
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 26px 30px 26px 30px;
  margin-bottom: 29px;
  transition: 1000ms;
}

.sect-9-block-question-text {
  position: relative;
}

.sect-9-block-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
  padding-right: 50px;
}

.sect-9-block-plus {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 700ms;
  transform-origin: center;

}

.sect-9-block-plus.rotate {
  transform: translateY(-50%) rotate(45deg);
  transition: 700ms;
  background-color: #FF7171;
  border-radius: 50%;
  padding: 5px;

}

.sect-9-block-answer {
  margin-top: 32px;
  display: none;
}

.sect-9-block-answer.visible {
  display: block;
}


.sect-9-block-answer-text,
.sect-9-block-answer ul {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #737373;
  margin-bottom: 18px;
}

.sect-9-block-answer li {
  margin-left: 15px;
  margin-bottom: 3px;
}

/* ----------section-10------------- */

.sect-10-wrapper {
  background: #E8ECEF;
  border-radius: 30px;
  padding: 100px 20px;
}

.sect-10-wrapper-h2 {
  margin: 30px 0 76px;
}

.sect-10-logo {
  margin: 0 auto;
  width: 100px;
}

.sect-10-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 634px;
  margin: 0 auto;
}

.sect-10-label {
  width: calc(50% - 15px);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #737373;
  margin-bottom: 30px;
}

.sect-10-label span {
  color: #EE2828;
}

.sect-10-label:nth-of-type(5),
.sect-10-label:last-of-type {
  width: 100%;
}

.sect-10-label:last-of-type {
  margin-bottom: 50px;
}

.sect-10-label:last-of-type .sect-10-input {
  height: 240px;
}

.sect-10-input {
  display: block;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px 25px 20px 25px;
  width: 100%;
  margin-top: 12px;
}

.sect-10-input::placeholder {
  color: #E1E1E1;
}

.sect-10-block-submit {
  width: 100%;
}

button.sect-10-submit {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF5728;
  border-radius: 30px;
  padding: 23px 35px;
  display: block;
  margin: 0 auto;
}

/* ----------section-11------------- */

.section-11 {
  padding: 180px 0 180px;
}

.sect-11-h2 {
  text-align: left;
  margin-bottom: 73px;
}

.sect-11-map-block {
  background: url(../img/sect-11-map.png) no-repeat center;
  border-radius: 30px;
  width: 100%;
  padding: 275px 10px 75px;
}

.sect-11-map-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 83px;
  background: #FFFFFF;
  border-radius: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.sect-11-map-adress {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 60%;
}

.sect-11-tel,
.sect-11-email,
.sect-11-city {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}



/* ----------footer------------- */
.header-gradient-bottom {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 455px;
  background: linear-gradient(180deg, #C7D9E7 0%, #E8ECEF 50.96%, rgba(246, 246, 246, 0) 100%);
  background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #E8ECEF 50.96%, #C7D9E7 100%);
}

.footer {
  padding-bottom: 80px;
}

h2.footer-h2.h2-common {
  padding: 0px 10px;
}

.footer-link-list {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 40px auto 72px;
}

.footer-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #636363;
}

.footer-copy {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  max-width: 116px;
}

.footer-authors-list-mobile{
  display: none;
}

.footer-authors-list {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  margin: 77px auto 0;
}

.footer-authors-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #808080;
}


@keyframes sect-1-client-move {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(-1850px);
  }
}


@keyframes sect-1-cup-Scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* delete one of keyframeses */
@keyframes sect-7-move {
  0% {
    transform: translateX(-14%);
  }

  100% {
    transform: translateX(-24%);
  }
}

@keyframes sect-7-move2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-7%);
  }
}




/* humburger */
.humburger {
  width: 30px;
  height: 20px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 3;
}

.humburger span {
  background-color: #636363;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width: 100%;
  height: 2px;
  transition-duration: 500ms
}

.humburger span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.humburger span:nth-child(2) {
  top: 9px;
  left: 0px;
  opacity: 1;
}

.humburger span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.humburger:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.humburger:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.humburger:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.humburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.humburger.open span:nth-child(2) {
  opacity: 0;
}

.humburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}



.curtain {

  position: fixed;
  top: 0;
  left: 100%;
  right: -100%;
  transition: 1000ms;
  overflow-x: hidden;
  height: 100vh;
  background: linear-gradient(270deg, #C4D7E4 7%, rgba(246, 246, 246, 0) 100%), white;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.curtain.open {
  right: 0;
  left: 0;
  transition: 1000ms;

}

body.overflow {
  overflow: hidden;
}


.curtain-list {
  position: absolute;
  right: 5%;
  top: 20%;
}

.curtain-item {
  margin-bottom: 40px;
  text-align: right;
}

.curtain-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: #636363;
}

.curtain-btn {
  padding: 18px 20px;
}

.square-sticker-1-tablet.open {
  opacity: 0;
  transition: 500ms;
}


.sect-1-clients-line-visible.open {
  max-width: var(--max-width-html);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 4;
  position: absolute;
  z-index: 4;
  bottom: 20px;
  transition: 1500ms;

}

.sect-1-clients-line-visible.open .sect-1-client {
  color: #C4D7E4;
}