@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Manrope:wght@500&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
 */

:root {
  --sect-1-square-cell-width: 32%
}

body {
  background-color: #F6F6F6;
}

.container {
  max-width: 1234px;
  margin: 0 auto;
  padding: 0 20px;
}

/* -------------------------------------  */

.header-gradient {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #C4D7E4 0%, rgba(246, 246, 246, 0) 100%);
}

.header {
  padding: 30px 20px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-links-lang {
  display: flex;
  justify-content: center;
}

.header-list {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 18px 22px 17px;
  margin-right: 5px;
}

.header-item:not(:last-child) {
  margin-right: 20px;
}

.header-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #636363;
}

.header-lang-list {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 5px;
}

.header-lang-item {
  padding: 12px 15px 13px;
}

.header-lang-item:first-child {
  background: #F6F6F6;
  border-radius: 30px;
}

.header-lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #636363;
}

.header-btn {
  background: #FF5728;
  border-radius: 30px;
  padding: 19.5px 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* ------------------------section-1-------------------- */

.section-1 {
  padding: 60px 0 180px;
  overflow: hidden;
  position: relative;
}


.sect-1-h1 {
  max-width: 1160px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: -0.02em;
  font-feature-settings: 'liga' off, 'rclt' off, 'kern' off;
  color: #0C0C0D;
}

.sect-1-wrapper {
  margin-top: 110px;
  margin-bottom: 100px;
  display: flex;
  gap: 5px
}

.sect-1-inner-left,
.sect-1-inner-right {
  width: 594.5px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.sect-1-inner-left-tablet{
  display: none;
}

.sect-1-inner-left {
  justify-content: flex-end;
}

.sect-1-inner-right {
  justify-content: flex-start;
}

.square-1-cell {
  position: relative;
  overflow: hidden;
  max-width: 194.8px;
  width: var(--sect-1-square-cell-width);
  /* height: 184px; */
  border: 3px solid #636363;
  aspect-ratio: 1.0543
}

.square-2-cells {
  position: relative;
  overflow: hidden;
  max-width: 394.6px;
  width: calc(var(--sect-1-square-cell-width) * 2 + 5px);
  /* height: 184px; */
  border: 3px solid #636363;
  aspect-ratio: 2.1424;
}

.square-mr {
  margin-right: 5px;
}

.square-mt {
  margin-top: 5px;
}

.square-type-1 {
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.square-type-2 {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.square-type-3 {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.square-type-4 {
  border-top-left-radius: 25% 50%;
  border-bottom-right-radius: 25% 50%;
}

.square-type-5 {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.square-type-3 img {
animation: sect-1-cup-Scale 5000ms cubic-bezier(0, 0.27, 0.8, 1.14) infinite alternate;
}

.sect-1-inner-right .square-type-2:first-of-type {
  position: relative;
  overflow: visible;
}

.sect-1-inner-right .square-type-2:first-of-type::before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/sect-1-star.svg) no-repeat center;
  background-size: 46px 46px;
  width: 46px;
  height: 46px;
  transform: translate(62%, 62%);
  bottom: 0;
  right: 0;
}


.sect-1-clients-line-visible {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}


.sect-1-clients-line {
  display: flex;
  width: 1000%;
  transform: translateX(-50px);
  animation: sect-1-client-move 50000ms linear infinite alternate;
}

.sect-1-client {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.8;
  text-align: center;
  color: #E3E3E3;
}


.sect-1-client:not(:last-child) {
  margin-right: 70px;
}

.square-sticker-1 {
  position: absolute;
  background: #BFEDAA;
  border-radius: 30px;
  transform: rotate(-25.25deg);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  padding: 8px 20px;
  top: -31px;
  left: -15px;
}

.square-sticker-2 {
  position: absolute;
  background: #FFA7E6;
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  text-align: center;
  left: calc(100% / 4.5);
  top: -46px;

  color: #000000;
  padding: 8px 20px;
}

.square-sticker-3 {
  position: absolute;
  padding: 8px 20px;
  color: #000000;
  background: #A5E4FF;
  border-radius: 30px;
  transform: rotate(22.3deg);
   font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  left: calc(100% / 2.2);
  top: -32px;
  text-align: center;
}




@keyframes sect-1-client-move {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(-1850px);
  }
}


@keyframes sect-1-cup-Scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}